[submodule "server/ee"]
	path = server/ee
	url = https://github.com/adishM98/server-ee-testing.git
	branch = main
[submodule "frontend/ee"]
	path = frontend/ee
	url = https://github.com/adishM98/frontend-ee-testing.git
	branch = main